//Import jQuery
script(type='text/javascript', src="https://code.jquery.com/jquery-3.1.1.min.js")
//Import Materialize
script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js')
//Import your own JS
script(type='text/javascript', src='../../_assets/js-common/common.js')
